.round {
    border-radius: 15px 50px;
    background: #73AD21;
    padding: 20px;
    width: 150px;
    height: 25px;
    text-align: center;
    font-family: arial;
  }

p {
    font-family: arial;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}